main {
    position: absolute;
    top:30%;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    padding: 0 0 4rem 0;
    text-align: center;
}

input[type="text"] {
    width: 40vw;
}

.btns {
    margin-top: 12rem;
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.recent-project-box {
    border: 2px solid lightgrey;
}