h1 {
    margin-bottom: 0;
}

.headline {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 4rem;
}

.h3-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.copy-icon {
    cursor: pointer;
}

.copy-icon:hover {
    animation: up_n_down .6s;
}

@keyframes up_n_down {
    50% {
        transform: translateY(-10%);
    }
}   

.overlay {
    position: fixed;
    z-index: 3;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(61, 108, 141, .6);
    backdrop-filter: blur(2px);
    justify-content: center;
    align-items: center;
    display: none;
}

.project-window {
    background-color: white;
    border-radius: 10px;
    width: 30vw;
    padding: 1rem 2rem 2rem 2rem;
}

.project-box {
    width: fit-content;
    border: 2px solid lightgrey;
    border-radius: 5px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color .1s;
    padding: .5rem 1rem;
    cursor: pointer;
}

.project-box:hover {
    background-color: #f3f3f3;
}

.project-box span {
    color: #6D6D6D;
    text-align: center;
    display: block;
}

.project-holder {
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr;
}