h1 {
    padding: 0 0 4rem 0;
}

#description {
    display: none;
}

#submit {
    display: none;
}

#back {
    display: none;
}

.your-projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

.recent-project-box-link {
    width: 10vw;
    display: inline-block;
    min-height: 8rem;
}

.recent-project-box {
    width: 10vw;
    height: 8rem;
    padding: 1rem;
    border: 2px solid lightgrey;
    border-radius: 5px;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: background-color .1s;
}

.recent-project-box:hover {
    background-color: #f3f3f3;
}

.recent-project-box span {
    color: #6D6D6D;
    text-align: center;
    display: block;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 6rem;
}