.found-paper {
    background-color: var(--lightgrey);
    border-radius: 10px;
    width: 80%;
    padding: .5rem 1rem;
    margin: .5rem 0;
    display: flex;
    align-items: center;
    gap: 2rem;
    justify-content: space-between;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}

.found-paper span {
    color: #3D6C8D;
    font-weight: bolder;
    font-size: 1rem; 
}

.btns {
    margin-top: 2rem;
}

.icon-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.icon-container svg {
    cursor: pointer;
}

.action-desc {
    margin-bottom: 2rem;
}

.actions-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6rem;
}

#citation {
    width: 30vw;
}

#change_desc {
    cursor: pointer;
}

#description-container {
    display: none;
}