{% extends "model.html" %}

{% block dynamic_content %}
    <h1 style="margin-bottom: 4rem;">Welcome to litsearch</h1>

    <p>
        Welcome to litsearch - your helper in literature research!
        <br><br>
        We can summarize paper(s) for you and deliver the most important details as well as 
        keywords to you.
        <br><br>
        Furthermore, you can find paragraphs about a specific subject of your interest. <br>
        This way you do not need to read the whole paper, still get the information you are looking for,
        and save time ... which is vital if you have a long list of papers. 
    </p>
{% endblock dynamic_content %}