{% extends "model.html" %}

{% block extended_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/start_project.css')}}">
<script src="{{ url_for('static', filename='js/classes.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/start_project.js') }}" defer></script>
{% endblock extended_head %}

{% block dynamic_content %}
<main>
    <h1>Create a study project</h1>
    <div>
        <form id="survey-form" action="" method="POST">
            {{ form.name(placeholder="Enter a project name ...") }}
            {{ form.description(placeholder="e.g. I want to investigate the impact of income on education ...") }}
            <div class="btns">
                <span id="back" class="sec-btn">Back</span>
                <span id="next" class="prim-btn">Next</span>
                {{ form.submit(class="prim-btn") }}
            </div>
        </form>
    </div>
</main>
{% endblock dynamic_content %}