{% extends "model.html"%}

{% block extended_head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom_paper.css') }}">
    <script src="{{ url_for('static', filename='js/custom_paper.js') }}" defer></script>
{% endblock extended_head %}

{% block dynamic_content%}
    <h1>Your paper's summary</h1>
    <div class="overview">
        <div class="left-part">
            <h3>Summary</h3>
            <p>
                {{ summary }}
            </p>
            <h3 class="big-margin">Find a paragraph by subject</h3>
            <input type="text" id="subject-finder" placeholder="Enter a subject ...">
            <div id="loading-div">
                <div class="loading-circle"></div>
            </div>
            <p id="subject-result"></p>
        </div>
        <div class="right-part">
            <h3>Identified topics</h3>
            <div>
                {% for tag in tags %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
            </div>
            <h3 class="big-margin">Similar papers</h3>
            <div><span>Impact of AI on humanity</span></div>
        </div>
    </div>
{% endblock dynamic_content%}