{% extends "model.html" %}

{% block extended_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/custom_paper.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/paper.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/project.css') }}">
<script src="{{ url_for('static', filename='js/add_get_papers.js') }}"></script>
{% endblock extended_head %}

{% block dynamic_content %}
    {% for project in users_projects %}
        <li><a href="{{ url_for('get_project', project_token=project.token) }}">{{ project.project_name }}</a></li>
    {% endfor %}
{% endblock dynamic_content %}